# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Pocket Option
POCKET_OPTION_SSID=42["auth",{"session":"your_session_here","isDemo":1,"uid":0,"platform":1}]

# Credenciales de Pocket Option (opcional, si usas login directo)
POCKET_OPTION_EMAIL=your_email@example.com
POCKET_OPTION_PASSWORD=your_password_here